// &__logo {
//   font-family: 'Lobster Two', cursive;
//   justify-self: start;
//   margin: 0.4rem;
// }

$large-width: 100%;
$padding: 17px 7px;
$border-none: 0;
$white-background: #fff;
$color: rgba(0, 0, 0, 0.37);

.nav {
  width: $large-width;
  background-color: rgba(104, 48, 27, 0.685);
  text-align: center;
  padding: 1rem;

  &__logo {
    margin: auto;
    text-align: center;
  }

  &__logo--text {
    font-family: 'Lobster Two', cursive;
  }

  &__searchContainer {
    width: $large-width;
    max-width: 265px;
    margin: 1rem auto;
    background: $white-background;
    border-radius: 3px;
    outline: 0;
  }

  &__searchInput {
    padding: $padding;
    border: $border-none;
    background: $white-background;
    border-right: 1px solid $color;
    outline: 0;
  }

  &__searchBtn {
    padding: $padding;
    border: $border-none;
    background: $white-background;
    outline: 0;
  }

  &__searchBtn {
    padding: 5px;
    text-align: center;
  }

  .fa-search {
    font-size: 18px;
  }

  @media (min-width: 600px) {
    & {
      display: flex;
      padding-top: 1rem;
    }

    &__searchContainer {
      margin: auto;
    }
  }
}
