.deleteBtn {
  color: orangered;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgba(136, 63, 36, 0.363);
  margin: 0.5rem;
  font-weight: bold;
  outline: none;

  .fa-trash {
    margin: 5px;
  }

  &:hover {
    color: white;
    background-color: orangered;
  }
}

@media (max-width: 480px) {
  .deleteBtn {
    padding: 2px;
  }
}
